USE [master]
GO
/****** Object:  Database [ClientDB]    Script Date: 10/18/2019 7:41:08 AM ******/
CREATE DATABASE [ClientDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClientDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\ClientDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClientDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\ClientDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClientDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClientDB]
GO
/****** Object:  Table [dbo].[ClientDB]    Script Date: 10/18/2019 7:41:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientDB](
	[ClientID] [varchar](4) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](13) NOT NULL,
	[Email] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ClientDB] ([ClientID], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (N'1111', N'Brown', N'Mary', N'(514)111-1111', N'mary@yahoo.com')
INSERT [dbo].[ClientDB] ([ClientID], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (N'1112', N'Moore', N'Richard', N'(514)222-2222', N'richard@yahoo.com')
INSERT [dbo].[ClientDB] ([ClientID], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (N'1113', N'Abbot', N'John', N'(514)333-3333', N'john@yahoo.com')
USE [master]
GO
